#nav{
    width:100%;
    height:50px;
    background-color: #2874f0;
    display: flex;
    margin: auto;
    gap:20px;
    border-radius: 5px;
    margin-top: -10px;
}
#st1{
    width:50%; 
    height:80px;
}
#st2{
    width:350px;
    height: 30px;
    margin-top: 8px;
    border-radius: 4px;
    border:1px solid white;
    margin-right:-3.4px;
    color:#c4a699;
    margin-left: 25px; 
    padding-left:10px;
}
#st3{
    height: 32px;
    width:70px; 
    font-size:13px;
    margin-left:0px;
    border-radius: 4px; 
    border:1px solid white;
    background-color: white;
    color:black
}
#st4{
    display: flex;
    margin: auto;
    gap:30px;
    color:white; 
    margin-left: 0.5px;
}
.st5{
    text-decoration:none;
    color:white;
}
#st6{
    font-size:28px;
    margin-left:150px;
    color:#333437
}
.st7{
    text-decoration:none;
}
#kart{
    margin-top: 15px;
    margin-left: 120px;
    font-size: 19px;
}
#kart>a{
    text-decoration: none;
    color:#ffff74;
}
#search{
    margin-top: 15px;
    display: flex;
}
#select{
    background-color: #2874f0;
    border: 1px solid #2874f0 ;
    color:white;
    font-size: 14px;
    width: 100px;
    text-align: center;
    line-height: 1.5em;
    margin-left: -20px;
}
#select:hover{
    background-color:black;
    
}
.option{
    background-color: white;
    color:black;
    
}
#container{
    width:100%;
    height:500px;
    margin-top: -20px;
}
#form{
    margin-top: 5px;
    margin-left: 150px;
}
h5{
    font-size: 12px;
    margin-bottom:15px;
    color:#333437;
}
.input{
    width:85%;
    height: 30px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 4px;
    border:1px solid #ccc;
    margin-top: -150px;
}
.input:hover{
    border:1px solid #219fd1;
}
.button{
    background-color: #337ab7;
    color: white;
    height:36px;
    border-radius: 4px;
    border: 1px solid #337ab7 ;
    font-size: 13px;
    width:12%;
}
#footer{
   width:100%;
   height:180px;
   padding: 80px;
   margin-left: 70px;
   margin-top: 182px;
}
ul{
   font-size: 16px;
   color: #333437;
   margin-bottom: 10px;
}
li{
   margin-left: 60px;
   padding: 1px;
   font-size: 14px;
}
span{
   color:#337ab7;
}
@media only screen and (min-width: 421px) and (max-width: 765px){
    #container{
        width:80%;
      grid-template-columns: repeat(2,1fr)
  
    }
  }

  @media only screen and (min-width:80px) and (max-width:420px){
    #container{
        width:80%;
      grid-template-columns: repeat(1, 1fr);
    }
  }